<app-header></app-header>
<app-zoo-container></app-zoo-container>

























<!-- <pre>{{ animals | json }}</pre> -->
<!-- <pre>{{ animalsObs | async | json }}</pre> -->

<!-- <app-header    
    [animal]="animal"
    [title]="appTitle"
    (buttonClicked)="onButtonClicked()"
    (ageAdded)="onAgeAdded($event)"
></app-header> -->

<!-- <input
    type="text"
    placeholder="Enter your name"
    (keyup)="logInputValue($event)"
/> -->

<!-- <h2 [class.underline]="name === 'Gjorge'">{{ name }}</h2> -->

<!-- <h2 [ngClass]="{
    underline: name === 'Gjorge',
    'bg-color': name === 'Ivo' || name === 'Gjorge'
}">{{ name }}</h2>

<button class="button" type="button" >Click me!</button> -->

<!-- <pre>{{ !!name }}</pre>

<h2 id="name" *ngIf="!!name; else noNameAvailable">{{ name }}</h2>
<h2 id="no-name" *ngIf="!name">No name available!</h2> -->

<!-- <ng-template #noNameAvailable>
    <h2 id="no-name" >No name available!</h2>
</ng-template>  -->

<!-- <h3>{{ years }}</h3> -->

<!-- <ul>
    <li *ngFor="let year of years; let i = index" [id]="i">{{ year }}</li>
</ul> -->

<!-- <div [ngSwitch]="name">
    <div *ngSwitchCase="'Ivo'">Lecturer</div>
    <div *ngSwitchCase="'Gjorge'">Assistant</div>
    <div *ngSwitchDefault>Student</div>
</div> -->

<!-- [(ngModel)]="name" -->
<!-- (keyup)="logInputValue($event)" -->
<!-- <h3>{{ name }}</h3>

<h2>{{ age }}</h2> -->
<!-- <h1>{{ animal }}</h1>
<h1>{{ isMarried }}</h1>
<h1>{{ year }}</h1> -->

<!-- <h4 [textContent]="animal"></h4> -->

<!-- <pre>{{ animal | json }}</pre> -->