<form class="form" [formGroup]="animalForm" (ngSubmit)="onSubmit()">
    <input
        type="text"
        class="form__input"
        placeholder="Name"
        formControlName="name"
        [ngClass]="{ required: nameValid }"
    />

    <!-- <pre>{{animalForm.get('name').errors | json}}</pre> -->

    <!-- <div>FORM CONTROL NAME VALUE:</div>
    <div>Touched: {{ animalForm.get('name').touched }}</div>
    <div>Dirty: {{ animalForm.get('name').dirty }}</div>
    <div>Valid: {{ animalForm.get('name').valid }}</div> -->

    <input
        type="text"
        class="form__input"
        placeholder="Species"
        formControlName="species"
        [ngClass]="{ required: speciesValid }"
    />
    <input
        type="text"
        class="form__input"
        placeholder="Country"
        formControlName="country"
        [ngClass]="{ required: countryValid }"
    />
    <input
        type="text"
        class="form__input"
        placeholder="Image URL"
        formControlName="imageUrl"
        [ngClass]="{ required: imageUrlValid }"
    />

    <select
        class="form__input"
        formControlName="gender"
        [ngClass]="{ required: genderValid }"
    >
        <option value="Male">Male</option>
        <option value="Female">Female</option>
    </select>

    <button
        type="submit"
        class="button"
        [disabled]="animalForm.invalid"
        >Add animal
    </button>
</form>

<!-- <div>FORM VALUES:</div>
<div>Touched: {{ animalForm.touched }}</div>
<div>Dirty: {{ animalForm.dirty }}</div>
<div>Valid: {{ animalForm.valid }}</div> -->